body{
   background-color: pink;
   background-size: cover;
}

#footer{
    text-align: center;
    background-color: aliceblue;
    line-height: 3;
    position:fixed;
    bottom:0;
    width:100%;
}

#head1{
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
}

#note1{
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: 500;
}
